In [1]:
import matplotlib as plt
import pandas as pd
import os
import numpy as np
import math
import csv
import pickle
import math
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
from scipy import stats
import seaborn as sns
from pylab import rcParams
from tqdm import tqdm
from sklearn import preprocessing
from torch.utils.data import Dataset, DataLoader
from torchvision import transforms
import torch
import torch.nn as nn
import torch.optim as optim
import network as net
from sklearn.model_selection import train_test_split
%matplotlib inline

sns.set(style='whitegrid', palette='muted', font_scale=1.5)
rcParams['figure.figsize'] = 14, 8
RANDOM_SEED = 42

In [2]:
# url = "/home/avijoy/Downloads/Dataset/DSADS/data"

In [3]:
url = "/home/avijoychakma/Downloads/PerCom 2020/Dataset/DSADS/data"

In [4]:
data = pd.read_csv(url+'/a01/p1/s01.txt', sep=",", header=None)

In [5]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,35,36,37,38,39,40,41,42,43,44
0,8.1305,1.0349,5.4217,-0.009461,0.001915,-0.003424,-0.78712,-0.069654,0.15730,0.70097,...,-0.036453,-2.8071,-9.0812,2.6220,-0.000232,-0.012092,-0.004457,0.74017,0.30053,-0.057730
1,8.1305,1.0202,5.3843,-0.009368,0.023485,0.001953,-0.78717,-0.068275,0.15890,0.71829,...,-0.034005,-2.8146,-9.0737,2.6218,-0.014784,-0.016477,0.002789,0.73937,0.30183,-0.057514
2,8.1604,1.0201,5.3622,0.015046,0.014330,0.000204,-0.78664,-0.068277,0.15879,0.69849,...,-0.036489,-2.8221,-9.0886,2.6366,-0.012770,0.005717,-0.007918,0.73955,0.30052,-0.057219
3,8.1603,1.0052,5.3770,0.006892,0.018045,0.005649,-0.78529,-0.069849,0.15912,0.72799,...,-0.036151,-2.8071,-9.0811,2.6070,-0.005725,0.009620,0.006555,0.74029,0.30184,-0.057750
4,8.1605,1.0275,5.3473,0.008811,0.030433,-0.005346,-0.78742,-0.068796,0.15916,0.71572,...,-0.033807,-2.8146,-9.0737,2.6218,-0.003929,-0.008371,0.002816,0.73845,0.30090,-0.057527

In [6]:
data.shape

(125, 45)

### File Information
    - Torso: 1-9
    - RA: 10-18
    - LA: 19-27
    - RL: 28-36
    - LL: 37-45

### Label Information
    - a1 = Sitting = 2
    - a2 = Standing = 3
    - a3 and a4 = Lying back and right = 1
    - a9 = walking = 4
    - a10 = walking trademill flat 10km/h = 4
    - a11 = walking trademill 15 deg inclined = 4
    - a12 = running on trademill 8km/h = 5
    - a5 = ascending stairs = 12
    - a6 = descending stairs = 13

#### In future a9, a10, a11 can be merged together

In [7]:
COLUMN_NAME = ['AccX', 'AccY','AccZ', 'GyrX', 'GyrY', 'GyrZ', 'MagX', 'MagY','MagZ',"Person","Activity"]
# COLUMN_NAME = ['AccX', 'AccY','AccZ',"Person","Activity"]
action = ['a00','a01','a02','a03','a04','a05','a06','a07','a08','a09','a10','a11','a12','a13','a14','a15','a16','a17','a18','a19']
a1 = 0
a2 = 1
a3 = 2
a4 = 2
a9 = 3
a12= 4
a5 = 5
a6 = 6

In [8]:
action[1]

'a01'

In [9]:
torso_index = [0,1,2,3,4,5,6,7,8,"Person", "Activity"]
right_arm_index = [9,10,11,12,13,14,15,16,17,"Person", "Activity"]
left_arm_index = [18,19,20,21,22,23,24,25,26,"Person", "Activity"]
right_leg_index = [27,28,29,30,31,32,33,34,35,"Person", "Activity"]
left_leg_index = [36,37,38,39,40,41,42,43,44,"Person", "Activity"]

# torso_index = [0,1,2,"Person", "Activity"]
# right_arm_index = [9,10,11,"Person", "Activity"]
# left_arm_index = [18,19,20,"Person", "Activity"]
# right_leg_index = [27,28,29,"Person", "Activity"]
# left_leg_index = [36,37,38,"Person", "Activity"]

In [10]:
body_part_index = [torso_index,right_arm_index,left_arm_index,right_leg_index,left_leg_index]

In [11]:
body_part = ["Torso","Right_Arm","Left_Arm","Right_Leg","Left_Leg"]

# 1. Merge Files - Merge all the 60 files for a person for a specific activity

    - Total time = 5 mins [For each minute 12 segment, For 5 mins 60 segment]

### A1

In [12]:
A1total_data = {}
def A1merge_datafiles(action, person):
    global A1total_data
    index = int(person[1:len(person)])
    for x in range(1,61):
        if x == 1:
            # To create an initial dataframe only once
            s = 's0'+str(x)
            A1total_data[index] = pd.read_csv(url+'/'+action+'/'+person+'/'+s+'.txt', sep=",", header=None)
        elif x < 10:
            s = 's0'+str(x)
            patial_data = pd.read_csv(url+'/'+action+'/'+person+'/'+s+'.txt', sep=",", header=None)
            A1total_data[index] =A1total_data[index].append(patial_data)
        else:
            s = 's'+str(x)
            patial_data = pd.read_csv(url+'/'+action+'/'+person+'/'+s+'.txt', sep=",", header=None)
            A1total_data[index] = A1total_data[index].append(patial_data)
    
    A1total_data[index].loc[:, 'Person'] = index
#     A1total_data[index].loc[:, 'Activity'] = action
    A1total_data[index].loc[:, 'Activity'] = 0
    A1total_data[index].reset_index(drop=True, inplace=True)

##### Combine All 60 Files Under Each User

In [13]:
for i in range(1,9):
    A1merge_datafiles(action[1],'p' + str(i))

In [14]:
# A1total_data[7].head()
# A1total_data[7].shape

### A2

In [15]:
A2total_data = {}
def A2merge_datafiles(action, person):
    global A2total_data
    index = int(person[1:len(person)])
    for x in range(1,61):
        if x == 1:
            # To create an initial dataframe only once
            s = 's0'+str(x)
            A2total_data[index] = pd.read_csv(url+'/'+action+'/'+person+'/'+s+'.txt', sep=",", header=None)
        elif x < 10:
            s = 's0'+str(x)
            patial_data = pd.read_csv(url+'/'+action+'/'+person+'/'+s+'.txt', sep=",", header=None)
            A2total_data[index] =A2total_data[index].append(patial_data)
        else:
            s = 's'+str(x)
            patial_data = pd.read_csv(url+'/'+action+'/'+person+'/'+s+'.txt', sep=",", header=None)
            A2total_data[index] = A2total_data[index].append(patial_data)
            
    A2total_data[index].loc[:, 'Person'] = index
    A2total_data[index].loc[:, 'Activity'] = 1
    A2total_data[index].reset_index(drop=True, inplace=True)

In [16]:
for i in range(1,9):
    A2merge_datafiles(action[2],'p' + str(i))

In [17]:
# A2total_data[8].head()
# A2total_data[8].shape

### A3

In [18]:
A3total_data = {}
def A3merge_datafiles(action, person):
    global A3total_data
    index = int(person[1:len(person)])
    for x in range(1,61):
        if x == 1:
            # To create an initial dataframe only once
            s = 's0'+str(x)
            A3total_data[index] = pd.read_csv(url+'/'+action+'/'+person+'/'+s+'.txt', sep=",", header=None)
        elif x < 10:
            s = 's0'+str(x)
            patial_data = pd.read_csv(url+'/'+action+'/'+person+'/'+s+'.txt', sep=",", header=None)
            A3total_data[index] =A3total_data[index].append(patial_data)
        else:
            s = 's'+str(x)
            patial_data = pd.read_csv(url+'/'+action+'/'+person+'/'+s+'.txt', sep=",", header=None)
            A3total_data[index] = A3total_data[index].append(patial_data)
            
    A3total_data[index].loc[:, 'Person'] = index
    A3total_data[index].loc[:, 'Activity'] = 2
    A3total_data[index].reset_index(drop=True, inplace=True)

In [19]:
for i in range(1,9):
    A3merge_datafiles(action[3],'p' + str(i))

In [20]:
A3total_data[1].head()
# A2total_data[8].shape

,0,1,2,3,4,5,6,7,8,9,...,37,38,39,40,41,42,43,44,Person,Activity
0,-4.8676,-0.48347,8.5751,0.008670,0.017324,0.000229,0.19523,0.53238,-0.72827,-0.60784,...,-9.7828,0.95060,0.004004,0.002933,-0.000466,0.14388,0.56498,-0.53191,1,2
1,-4.8527,-0.47624,8.5902,-0.000332,0.027230,-0.001647,0.19587,0.53077,-0.72635,-0.60314,...,-9.8125,0.94989,0.014034,0.001022,-0.008625,0.14330,0.56683,-0.53223,1,2
2,-4.8228,-0.46167,8.5905,-0.011188,0.019980,-0.014395,0.19529,0.53196,-0.72705,-0.61312,...,-9.7676,0.97939,-0.008470,0.008042,-0.012129,0.14461,0.56632,-0.53258,1,2
3,-4.8381,-0.49159,8.6946,0.004205,0.027159,-0.007106,0.19453,0.53272,-0.72628,-0.60561,...,-9.7825,0.94972,-0.001368,0.006458,-0.003119,0.14381,0.56790,-0.53237,1,2
4,-4.8229,-0.49118,8.5604,0.008713,0.024477,-0.001622,0.19503,0.53299,-0.72693,-0.60825,...,-9.7975,0.94993,-0.001401,0.002905,-0.001340,0.14356,0.56789,-0.53211,1,2

### A4

In [21]:
A4total_data = {}
def A4merge_datafiles(action, person):
    global A4total_data
    index = int(person[1:len(person)])
    for x in range(1,61):
        if x == 1:
            # To create an initial dataframe only once
            s = 's0'+str(x)
            A4total_data[index] = pd.read_csv(url+'/'+action+'/'+person+'/'+s+'.txt', sep=",", header=None)
        elif x < 10:
            s = 's0'+str(x)
            patial_data = pd.read_csv(url+'/'+action+'/'+person+'/'+s+'.txt', sep=",", header=None)
            A4total_data[index] =A4total_data[index].append(patial_data)
        else:
            s = 's'+str(x)
            patial_data = pd.read_csv(url+'/'+action+'/'+person+'/'+s+'.txt', sep=",", header=None)
            A4total_data[index] = A4total_data[index].append(patial_data)
            
    A4total_data[index].loc[:, 'Person'] = index
    A4total_data[index].loc[:, 'Activity'] = 2
    A4total_data[index].reset_index(drop=True, inplace=True)

In [22]:
for i in range(1,9):
    A4merge_datafiles(action[4],'p' + str(i))

In [23]:
# for i in range(1,9):
#     print(A4total_data[i].shape)
#     print(A3total_data[i].head())

### A5

In [24]:
A5total_data = {}
def A5merge_datafiles(action, person):
    global A5total_data
    index = int(person[1:len(person)])
    for x in range(1,61):
        if x == 1:
            # To create an initial dataframe only once
            s = 's0'+str(x)
            A5total_data[index] = pd.read_csv(url+'/'+action+'/'+person+'/'+s+'.txt', sep=",", header=None)
        elif x < 10:
            s = 's0'+str(x)
            patial_data = pd.read_csv(url+'/'+action+'/'+person+'/'+s+'.txt', sep=",", header=None)
            A5total_data[index] =A5total_data[index].append(patial_data)
        else:
            s = 's'+str(x)
            patial_data = pd.read_csv(url+'/'+action+'/'+person+'/'+s+'.txt', sep=",", header=None)
            A5total_data[index] = A5total_data[index].append(patial_data)
            
    A5total_data[index].loc[:, 'Person'] = index
    A5total_data[index].loc[:, 'Activity'] = 5
    A5total_data[index].reset_index(drop=True, inplace=True)

In [25]:
for i in range(1,9):
    A5merge_datafiles(action[5],'p' + str(i))

In [26]:
# for i in range(1,9):
#     print(A5total_data[i].shape)
#     print(A5total_data[i].head())

### A6

In [27]:
A6total_data = {}
def A6merge_datafiles(action, person):
    global A6total_data
    index = int(person[1:len(person)])
    for x in range(1,61):
        if x == 1:
            # To create an initial dataframe only once
            s = 's0'+str(x)
            A6total_data[index] = pd.read_csv(url+'/'+action+'/'+person+'/'+s+'.txt', sep=",", header=None)
        elif x < 10:
            s = 's0'+str(x)
            patial_data = pd.read_csv(url+'/'+action+'/'+person+'/'+s+'.txt', sep=",", header=None)
            A6total_data[index] =A6total_data[index].append(patial_data)
        else:
            s = 's'+str(x)
            patial_data = pd.read_csv(url+'/'+action+'/'+person+'/'+s+'.txt', sep=",", header=None)
            A6total_data[index] = A6total_data[index].append(patial_data)
            
    A6total_data[index].loc[:, 'Person'] = index
    A6total_data[index].loc[:, 'Activity'] = 6
    A6total_data[index].reset_index(drop=True, inplace=True)

In [28]:
for i in range(1,9):
    A6merge_datafiles(action[6],'p' + str(i))

In [29]:
# for i in range(1,9):
#     print(A6total_data[i].shape)
#     print(A6total_data[i].head())

### A9

In [30]:
A9total_data = {}
def A9merge_datafiles(action, person):
    global A9total_data
    index = int(person[1:len(person)])
    for x in range(1,61):
        if x == 1:
            # To create an initial dataframe only once
            s = 's0'+str(x)
            A9total_data[index] = pd.read_csv(url+'/'+action+'/'+person+'/'+s+'.txt', sep=",", header=None)
        elif x < 10:
            s = 's0'+str(x)
            patial_data = pd.read_csv(url+'/'+action+'/'+person+'/'+s+'.txt', sep=",", header=None)
            A9total_data[index] =A9total_data[index].append(patial_data)
        else:
            s = 's'+str(x)
            patial_data = pd.read_csv(url+'/'+action+'/'+person+'/'+s+'.txt', sep=",", header=None)
            A9total_data[index] = A9total_data[index].append(patial_data)
            
    A9total_data[index].loc[:, 'Person'] = index
    A9total_data[index].loc[:, 'Activity'] = 3
    A9total_data[index].reset_index(drop=True, inplace=True)

In [31]:
for i in range(1,9):
    A9merge_datafiles(action[9],'p' + str(i))

In [32]:
# for i in range(1,9):
#     print(A9total_data[i].shape)
#     print(A9total_data[i].head())

### A12

### Check the index value in this point

In [33]:
A12total_data = {}
def A12merge_datafiles(action, person):
    global A12total_data
    index = int(person[1:len(person)])
    for x in range(1,61):
        if x == 1:
            # To create an initial dataframe only once
            s = 's0'+str(x)
            A12total_data[index] = pd.read_csv(url+'/'+action+'/'+person+'/'+s+'.txt', sep=",", header=None)
        elif x < 10:
            s = 's0'+str(x)
            patial_data = pd.read_csv(url+'/'+action+'/'+person+'/'+s+'.txt', sep=",", header=None)
            A12total_data[index] =A12total_data[index].append(patial_data)
        else:
            s = 's'+str(x)
            patial_data = pd.read_csv(url+'/'+action+'/'+person+'/'+s+'.txt', sep=",", header=None)
            A12total_data[index] = A12total_data[index].append(patial_data)
            
    A12total_data[index].loc[:, 'Person'] = index
    A12total_data[index].loc[:, 'Activity'] = 4
    A12total_data[index].reset_index(drop=True, inplace=True)

In [34]:
for i in range(1,9):
    A12merge_datafiles(action[12],'p' + str(i))

In [35]:
# for i in range(1,9):
#     print(A12total_data[i].shape)
#     print(A12total_data[i].head())

# 2. Combine All The Dataframes and Do Normalization, Standardization

In [36]:
# A1_total_frame = pd.concat([A1total_data[1],A1total_data[2],A1total_data[3],A1total_data[4],A1total_data[5],A1total_data[6],A1total_data[7],A1total_data[8]], ignore_index=True)
# A1_total_frame.reset_index(drop=True, inplace=True)

# A2_total_frame = pd.concat([A2total_data[1],A2total_data[2],A2total_data[3],A2total_data[4],A2total_data[5],A2total_data[6],A2total_data[7],A2total_data[8]], ignore_index=True)
# A2_total_frame.reset_index(drop=True, inplace=True)

# A3_total_frame = pd.concat([A3total_data[1],A3total_data[2],A3total_data[3],A3total_data[4],A3total_data[5],A3total_data[6],A3total_data[7],A3total_data[8]], ignore_index=True)
# A3_total_frame.reset_index(drop=True, inplace=True)

# A4_total_frame = pd.concat([A4total_data[1],A4total_data[2],A4total_data[3],A4total_data[4],A4total_data[5],A4total_data[6],A4total_data[7],A4total_data[8]], ignore_index=True)
# A4_total_frame.reset_index(drop=True, inplace=True)

# A5_total_frame = pd.concat([A5total_data[1],A5total_data[2],A5total_data[3],A5total_data[4],A5total_data[5],A5total_data[6],A5total_data[7],A5total_data[8]], ignore_index=True)
# A5_total_frame.reset_index(drop=True, inplace=True)

# A6_total_frame = pd.concat([A6total_data[1],A6total_data[2],A6total_data[3],A6total_data[4],A6total_data[5],A6total_data[6],A6total_data[7],A6total_data[8]], ignore_index=True)
# A6_total_frame.reset_index(drop=True, inplace=True)

# A9_total_frame = pd.concat([A9total_data[1],A9total_data[2],A9total_data[3],A9total_data[4],A9total_data[5],A9total_data[6],A9total_data[7],A9total_data[8]], ignore_index=True)
# A9_total_frame.reset_index(drop=True, inplace=True)

# A12_total_frame = pd.concat([A12total_data[1],A12total_data[2],A12total_data[3],A12total_data[4],A12total_data[5],A12total_data[6],A12total_data[7],A12total_data[8]], ignore_index=True)
# A12_total_frame.reset_index(drop=True, inplace=True)

# Grad_Total_Frame = pd.concat([A1_total_frame, A2_total_frame, A3_total_frame, A4_total_frame, A5_total_frame, A6_total_frame, A9_total_frame, A12_total_frame], ignore_index=True)
# Grad_Total_Frame.reset_index(drop=True, inplace=True)

In [37]:
# Grad_Total_Frame.shape

In [38]:
# Grad_Total_Frame.head()

### Normalization

In [39]:
# person_gt = np.array(Grad_Total_Frame['Person'])
# activity_gt = np.array(Grad_Total_Frame['Activity'])

In [40]:
# Grad_Total_Frame.drop(['Person','Activity'], axis=1, inplace=True)
# column_name = Grad_Total_Frame.columns

In [41]:
# min_max_scaler = preprocessing.MinMaxScaler()
# np_scaled = min_max_scaler.fit_transform(Grad_Total_Frame)
# refined_frame_normalized = pd.DataFrame(np_scaled)

### Standadization

In [42]:
# scaler = preprocessing.StandardScaler()
# df_standardized = scaler.fit_transform(refined_frame_normalized)
# refined_frame_standardized = pd.DataFrame(df_standardized, columns=column_name)

In [43]:
# refined_frame_standardized["Person"] = person_gt.copy()
# refined_frame_standardized["Activity"] = activity_gt.copy()

In [44]:
# refined_frame_standardized.head()

## 3. Extract Each Users Position-wise Data For All Activity, Combine and Save Them

### A1

##### Get Dataframe Name

In [45]:
def get_df_name(df):
    name =[x for x in globals() if globals()[x] is df][0]
    return name

##### Collection for each user
    - A1user1: Activity A1, User 1. It contains the 5 sensor collected data positioned at 5 different positions.

In [46]:
A1user1 = {}
A1user2 = {}
A1user3 = {}
A1user4 = {}
A1user5 = {}
A1user6 = {}
A1user7 = {}
A1user8 = {}

##### Function: Extract Different Body Positions Data For Each User For a Specific Activity
    - Based on Person and Activity information

In [47]:
A1total_data[1].tail()

,0,1,2,3,4,5,6,7,8,9,...,37,38,39,40,41,42,43,44,Person,Activity
7495,7.8472,1.6377,5.7124,-0.006153,0.043142,-0.015909,-0.78780,-0.086782,0.12829,0.005076,...,-9.1217,2.5923,-0.005807,0.006692,0.000440,0.73578,0.30603,-0.052899,1,0
7496,7.8324,1.6232,5.6674,0.002754,0.023532,-0.001225,-0.78812,-0.087471,0.12978,0.005096,...,-9.0770,2.5927,-0.005807,-0.009519,-0.003295,0.73758,0.30551,-0.052294,1,0
7497,7.8473,1.6378,5.6825,0.010872,0.019026,0.000632,-0.78893,-0.087006,0.12731,-0.004781,...,-9.0919,2.6073,-0.002184,0.008478,-0.000463,0.73706,0.30524,-0.052172,1,0
7498,7.8548,1.6379,5.6527,0.000977,0.034372,0.004200,-0.78820,-0.086781,0.12842,0.010015,...,-9.0919,2.6074,-0.002089,-0.000671,-0.009573,0.73759,0.30445,-0.052408,1,0
7499,7.8472,1.6230,5.6974,0.011844,0.035202,0.004212,-0.78962,-0.088036,0.12701,0.005041,...,-9.1143,2.5923,-0.016762,-0.010267,0.005780,0.73804,0.30526,-0.053348,1,0

In [48]:
def A1user_position_data(list_frames):
    string = get_df_name(list_frames)
    index = int(string[-1:])
#     active_frame = refined_frame_standardized[(refined_frame_standardized["Person"] == index) & (refined_frame_standardized["Activity"] == activity)].copy()
    for part in range(0,5):
#             list_frames[part] = A1total_data[body_part_index[part]].copy()
            list_frames[part] = A1total_data[index][body_part_index[part]].copy()
            list_frames[part].columns = COLUMN_NAME
            list_frames[part].loc[:, 'Position'] = body_part[part]
            list_frames[part].reset_index(drop=True, inplace=True)

In [49]:
# A1total_data[1].head()

In [50]:
A1user_position_data(A1user1)
A1user_position_data(A1user2)
A1user_position_data(A1user3)
A1user_position_data(A1user4)
A1user_position_data(A1user5)
A1user_position_data(A1user6)
A1user_position_data(A1user7)
A1user_position_data(A1user8)

In [51]:
# for i in range(0,5):
#     print(A1user8[i].head())

### A2

In [52]:
A2user1 = {}
A2user2 = {}
A2user3 = {}
A2user4 = {}
A2user5 = {}
A2user6 = {}
A2user7 = {}
A2user8 = {}

In [53]:
def A2user_position_data(list_frames):
    string = get_df_name(list_frames)
    index = int(string[6:len(string)])
#     active_frame = refined_frame_standardized[(refined_frame_standardized["Person"] == index) & (refined_frame_standardized["Activity"] == activity)].copy()
    for part in range(0,5):
#             list_frames[part] = active_frame[body_part_index[part]].copy()
            list_frames[part] = A2total_data[index][body_part_index[part]].copy()
            list_frames[part].columns = COLUMN_NAME
            list_frames[part].loc[:, 'Position'] = body_part[part]
            list_frames[part].reset_index(drop=True, inplace=True)

In [54]:
A2user_position_data(A2user1)
A2user_position_data(A2user2)
A2user_position_data(A2user3)
A2user_position_data(A2user4)
A2user_position_data(A2user5)
A2user_position_data(A2user6)
A2user_position_data(A2user7)
A2user_position_data(A2user8)

In [55]:
# for i in range(0,5):
#     print(A2user1[i].head())

### A3

In [56]:
A3user1 = {}
A3user2 = {}
A3user3 = {}
A3user4 = {}
A3user5 = {}
A3user6 = {}
A3user7 = {}
A3user8 = {}

In [57]:
# A3total_data[1].head()

In [58]:
def A3user_position_data(list_frames):
    string = get_df_name(list_frames)
    index = int(string[-1:])
#     active_frame = refined_frame_standardized[(refined_frame_standardized["Person"] == index) & (refined_frame_standardized["Activity"] == activity)].copy()
    for part in range(0,5):
#             list_frames[part] = active_frame[body_part_index[part]].copy()
            list_frames[part] = A3total_data[index][body_part_index[part]].copy()
            list_frames[part].columns = COLUMN_NAME
            list_frames[part].loc[:, 'Position'] = body_part[part]
            list_frames[part].reset_index(drop=True, inplace=True)

In [59]:
A3user_position_data(A3user1)
A3user_position_data(A3user2)
A3user_position_data(A3user3)
A3user_position_data(A3user4)
A3user_position_data(A3user5)
A3user_position_data(A3user6)
A3user_position_data(A3user7)
A3user_position_data(A3user8)

In [60]:
# for i in range(0,5):
#     print(A3user8[i].head())

### A4

In [61]:
A4user1 = {}
A4user2 = {}
A4user3 = {}
A4user4 = {}
A4user5 = {}
A4user6 = {}
A4user7 = {}
A4user8 = {}

In [62]:
def A4user_position_data(list_frames):
    string = get_df_name(list_frames)
    index = int(string[-1:])
#     active_frame = refined_frame_standardized[(refined_frame_standardized["Person"] == index) & (refined_frame_standardized["Activity"] == activity)].copy()
    for part in range(0,5):
#             list_frames[part] = active_frame[body_part_index[part]].copy()
            list_frames[part] = A4total_data[index][body_part_index[part]].copy()
            list_frames[part].columns = COLUMN_NAME
            list_frames[part].loc[:, 'Position'] = body_part[part]
            list_frames[part].reset_index(drop=True, inplace=True)

In [63]:
A4user_position_data(A4user1)
A4user_position_data(A4user2)
A4user_position_data(A4user3)
A4user_position_data(A4user4)
A4user_position_data(A4user5)
A4user_position_data(A4user6)
A4user_position_data(A4user7)
A4user_position_data(A4user8)

In [64]:
# for i in range(0,5):
#     print(A4user8[i].head())

### A5

In [65]:
A5user1 = {}
A5user2 = {}
A5user3 = {}
A5user4 = {}
A5user5 = {}
A5user6 = {}
A5user7 = {}
A5user8 = {}

In [66]:
def A5user_position_data(list_frames):
    string = get_df_name(list_frames)
    index = int(string[-1:])
#     active_frame = refined_frame_standardized[(refined_frame_standardized["Person"] == index) & (refined_frame_standardized["Activity"] == activity)].copy()
    for part in range(0,5):
#             list_frames[part] = active_frame[body_part_index[part]].copy()
            list_frames[part] = A5total_data[index][body_part_index[part]].copy()
            list_frames[part].columns = COLUMN_NAME
            list_frames[part].loc[:, 'Position'] = body_part[part]
            list_frames[part].reset_index(drop=True, inplace=True)

In [67]:
A5user_position_data(A5user1)
A5user_position_data(A5user2)
A5user_position_data(A5user3)
A5user_position_data(A5user4)
A5user_position_data(A5user5)
A5user_position_data(A5user6)
A5user_position_data(A5user7)
A5user_position_data(A5user8)

In [68]:
# for i in range(0,5):
#     print(A5user8[i].head())

### A6

In [69]:
A6user1 = {}
A6user2 = {}
A6user3 = {}
A6user4 = {}
A6user5 = {}
A6user6 = {}
A6user7 = {}
A6user8 = {}

In [70]:
def A6user_position_data(list_frames):
    string = get_df_name(list_frames)
    index = int(string[-1:])
#     active_frame = refined_frame_standardized[(refined_frame_standardized["Person"] == index) & (refined_frame_standardized["Activity"] == activity)].copy()
    for part in range(0,5):
#             list_frames[part] = active_frame[body_part_index[part]].copy()
            list_frames[part] = A6total_data[index][body_part_index[part]].copy()
            list_frames[part].columns = COLUMN_NAME
            list_frames[part].loc[:, 'Position'] = body_part[part]
            list_frames[part].reset_index(drop=True, inplace=True)

In [71]:
A6user_position_data(A6user1)
A6user_position_data(A6user2)
A6user_position_data(A6user3)
A6user_position_data(A6user4)
A6user_position_data(A6user5)
A6user_position_data(A6user6)
A6user_position_data(A6user7)
A6user_position_data(A6user8)

In [72]:
# for i in range(0,5):
#     print(A6user8[i].head())

### A9

In [73]:
A9user1 = {}
A9user2 = {}
A9user3 = {}
A9user4 = {}
A9user5 = {}
A9user6 = {}
A9user7 = {}
A9user8 = {}

In [74]:
def A9user_position_data(list_frames):
    string = get_df_name(list_frames)
    index = int(string[6:len(string)])
#     active_frame = refined_frame_standardized[(refined_frame_standardized["Person"] == index) & (refined_frame_standardized["Activity"] == activity)].copy()
    for part in range(0,5):
#             list_frames[part] = active_frame[body_part_index[part]].copy()
            list_frames[part] = A9total_data[index][body_part_index[part]].copy()
            list_frames[part].columns = COLUMN_NAME
            list_frames[part].loc[:, 'Position'] = body_part[part]
            list_frames[part].reset_index(drop=True, inplace=True)

In [75]:
A9user_position_data(A9user1)
A9user_position_data(A9user2)
A9user_position_data(A9user3)
A9user_position_data(A9user4)
A9user_position_data(A9user5)
A9user_position_data(A9user6)
A9user_position_data(A9user7)
A9user_position_data(A9user8)

In [76]:
# for i in range(0,5):
#     print(A9user8[i].head())

### A12

In [77]:
A12user1 = {}
A12user2 = {}
A12user3 = {}
A12user4 = {}
A12user5 = {}
A12user6 = {}
A12user7 = {}
A12user8 = {}

In [78]:
def A12user_position_data(list_frames):
    string = get_df_name(list_frames)
    index = int(string[-1:])
#     active_frame = refined_frame_standardized[(refined_frame_standardized["Person"] == index) & (refined_frame_standardized["Activity"] == activity)].copy()
    for part in range(0,5):
#             list_frames[part] = active_frame[body_part_index[part]].copy()
            list_frames[part] = A12total_data[index][body_part_index[part]].copy()
            list_frames[part].columns = COLUMN_NAME
            list_frames[part].loc[:, 'Position'] = body_part[part]
            list_frames[part].reset_index(drop=True, inplace=True)

In [79]:
A12user_position_data(A12user1)
A12user_position_data(A12user2)
A12user_position_data(A12user3)
A12user_position_data(A12user4)
A12user_position_data(A12user5)
A12user_position_data(A12user6)
A12user_position_data(A12user7)
A12user_position_data(A12user8)

In [80]:
# for i in range(0,5):
#     print(A12user8[i].head())

## 4. Dataset Visualization
    - 0:Torso
    - 1:Right Arm
    - 2:Left Arm
    - 3:Right Leg
    - 4:Left Leg

In [81]:
def plot_activity(df, activity, position, i=1000):
    data = df[df['Activity'] == activity][['AccX', 'AccY','AccZ']][:i]
        
    axis = data.plot(subplots=True, figsize=(16, 12), title=position)
    for ax in axis:
        ax.legend(loc='lower left', bbox_to_anchor=(1.0, 0.5))

##### A1 Visualization
    - Visualization of accelerometer data of user 1
    - For activity A1 in 5 different positions

In [82]:
# plot_activity(A1user1[0], 0, body_part[0])
# plot_activity(A1user1[1], 0, body_part[1])
# plot_activity(A1user1[2], 0, body_part[2])
# plot_activity(A1user1[3], 0, body_part[3])
# plot_activity(A1user1[4], 0, body_part[4])

##### A2 Visualization

In [83]:
# plot_activity(A2user1[0], 1, body_part[0])
# plot_activity(A2user1[1], 1, body_part[1])
# plot_activity(A2user1[2], 1, body_part[2])
# plot_activity(A2user1[3], 1, body_part[3])
# plot_activity(A2user1[4], 1, body_part[4])

##### A3 Visualization

In [84]:
# plot_activity(A3user1[0], 2, body_part[0])
# plot_activity(A3user1[1], 2, body_part[1])
# plot_activity(A3user1[2], 2, body_part[2])
# plot_activity(A3user1[3], 2, body_part[3])
# plot_activity(A3user1[4], 2, body_part[4])

##### A4 Visualization

In [85]:
# plot_activity(A4user1[0], 2, body_part[0])
# plot_activity(A4user1[1], 2, body_part[1])
# plot_activity(A4user1[2], 2, body_part[2])
# plot_activity(A4user1[3], 2, body_part[3])
# plot_activity(A4user1[4], 2, body_part[4])

##### A5 Visualization

In [86]:
# plot_activity(A5user1[0], 5, body_part[0])
# plot_activity(A5user1[1], 5, body_part[1])
# plot_activity(A5user1[2], 5, body_part[2])
# plot_activity(A5user1[3], 5, body_part[3])
# plot_activity(A5user1[4], 5, body_part[4])

##### A6 Visualization

In [87]:
# plot_activity(A6user1[0], 6, body_part[0])
# plot_activity(A6user1[1], 6, body_part[1])
# plot_activity(A6user1[2], 6, body_part[2])
# plot_activity(A6user1[3], 6, body_part[3])
# plot_activity(A6user1[4], 6, body_part[4])

##### A9 Visualization

In [88]:
# plot_activity(A9user1[0], 3, body_part[0])
# plot_activity(A9user1[1], 3, body_part[1])
# plot_activity(A9user1[2], 3, body_part[2])
# plot_activity(A9user1[3], 3, body_part[3])
# plot_activity(A9user1[4], 3, body_part[4])

##### A12 Visualization

In [89]:
# plot_activity(A12user1[0], 4, body_part[0])
# plot_activity(A12user1[1], 4, body_part[1])
# plot_activity(A12user1[2], 4, body_part[2])
# plot_activity(A12user1[3], 4, body_part[3])
# plot_activity(A12user1[4], 4, body_part[4])

# 5. Calculate the magnitude to reduce the number of dimentions

In [90]:
def magnitude(df):
    ax2 = df['AccX']**2
    ay2 = df['AccY']**2
    az2 = df['AccZ']**2
    am2 = ax2 + ay2 + az2
    
    gx2 = df['GyrX']**2
    gy2 = df['GyrY']**2
    gz2 = df['GyrZ']**2
    gm2 = gx2 + gy2 + gz2
    
    mx2 = df['MagX']**2
    my2 = df['MagY']**2
    mz2 = df['MagZ']**2
    mm2 = mx2 + my2 + mz2
    
    df['Am']=am2.apply(lambda x: math.sqrt(x))
    df['Gm']=gm2.apply(lambda x: math.sqrt(x))
    df['Mm']=mm2.apply(lambda x: math.sqrt(x))

##### Dataframe Collections
    - A1user1...8
    - A2user1...8
    - A3user1...8
    - A4user1...8
    - A5user1...8
    - A6user1...8
    - A9user1...8
    - A12user1...8

##### Activity Information

In [91]:
# - a1 = Sitting = 2
# - a2 = Standing = 3
# - a3 and a4 = Lying back and right = 1
# - a9 = walking = 4
# - a12 = running on trademill 8km/h = 5
# - a5 = ascending stairs = 12
# - a6 = descending stairs = 13

#### Calculate Magnitude

In [92]:
# for index in range(0,5):
#     magnitude(A1user1[index])
#     magnitude(A1user2[index])
#     magnitude(A1user3[index])
#     magnitude(A1user4[index])
#     magnitude(A1user5[index])
#     magnitude(A1user6[index])
#     magnitude(A1user7[index])
#     magnitude(A1user8[index])
    
#     magnitude(A2user1[index])
#     magnitude(A2user2[index])
#     magnitude(A2user3[index])
#     magnitude(A2user4[index])
#     magnitude(A2user5[index])
#     magnitude(A2user6[index])
#     magnitude(A2user7[index])
#     magnitude(A2user8[index])
    
#     magnitude(A3user1[index])
#     magnitude(A3user2[index])
#     magnitude(A3user3[index])
#     magnitude(A3user4[index])
#     magnitude(A3user5[index])
#     magnitude(A3user6[index])
#     magnitude(A3user7[index])
#     magnitude(A3user8[index])
    
#     magnitude(A4user1[index])
#     magnitude(A4user2[index])
#     magnitude(A4user3[index])
#     magnitude(A4user4[index])
#     magnitude(A4user5[index])
#     magnitude(A4user6[index])
#     magnitude(A4user7[index])
#     magnitude(A4user8[index])
    
#     magnitude(A5user1[index])
#     magnitude(A5user2[index])
#     magnitude(A5user3[index])
#     magnitude(A5user4[index])
#     magnitude(A5user5[index])
#     magnitude(A5user6[index])
#     magnitude(A5user7[index])
#     magnitude(A5user8[index])
    
#     magnitude(A6user1[index])
#     magnitude(A6user2[index])
#     magnitude(A6user3[index])
#     magnitude(A6user4[index])
#     magnitude(A6user5[index])
#     magnitude(A6user6[index])
#     magnitude(A6user7[index])
#     magnitude(A6user8[index])
    
#     magnitude(A9user1[index])
#     magnitude(A9user2[index])
#     magnitude(A9user3[index])
#     magnitude(A9user4[index])
#     magnitude(A9user5[index])
#     magnitude(A9user6[index])
#     magnitude(A9user7[index])
#     magnitude(A9user8[index])
    
#     magnitude(A12user1[index])
#     magnitude(A12user2[index])
#     magnitude(A12user3[index])
#     magnitude(A12user4[index])
#     magnitude(A12user5[index])
#     magnitude(A12user6[index])
#     magnitude(A12user7[index])
#     magnitude(A12user8[index])

# 7. Combine Each User-all 8 activity data for 5 different positions

- 0:Torso
- 1:Right Arm
- 2:Left Arm
- 3:Right Leg
- 4:Left Leg

A1user1[0] = Activity A1 of User 1 from Sensor position 0

##### User 1

In [93]:
U1_Torso = pd.concat([A1user1[0], A2user1[0],A3user1[0],A4user1[0],A5user1[0],A6user1[0],A9user1[0],A12user1[0]], ignore_index=True)
U1_RA = pd.concat([A1user1[1], A2user1[1],A3user1[1],A4user1[1],A5user1[1],A6user1[1],A9user1[1],A12user1[1]], ignore_index=True)
U1_LA = pd.concat([A1user1[2], A2user1[2],A3user1[2],A4user1[2],A5user1[2],A6user1[2],A9user1[2],A12user1[2]], ignore_index=True)
U1_RL = pd.concat([A1user1[3], A2user1[3],A3user1[3],A4user1[3],A5user1[3],A6user1[3],A9user1[3],A12user1[3]], ignore_index=True)
U1_LL = pd.concat([A1user1[4], A2user1[4],A3user1[4],A4user1[4],A5user1[4],A6user1[4],A9user1[4],A12user1[4]], ignore_index=True)

##### User 2

In [94]:
U2_Torso = pd.concat([A1user2[0], A2user2[0],A3user2[0],A4user2[0],A5user2[0],A6user2[0],A9user2[0],A12user2[0]], ignore_index=True)
U2_RA = pd.concat([A1user2[1], A2user2[1],A3user2[1],A4user2[1],A5user2[1],A6user2[1],A9user2[1],A12user2[1]], ignore_index=True)
U2_LA = pd.concat([A1user2[2], A2user2[2],A3user2[2],A4user2[2],A5user2[2],A6user2[2],A9user2[2],A12user2[2]], ignore_index=True)
U2_RL = pd.concat([A1user2[3], A2user2[3],A3user2[3],A4user2[3],A5user2[3],A6user2[3],A9user2[3],A12user2[3]], ignore_index=True)
U2_LL = pd.concat([A1user2[4], A2user2[4],A3user2[4],A4user2[4],A5user2[4],A6user2[4],A9user2[4],A12user2[4]], ignore_index=True)

##### User 3

In [95]:
U3_Torso = pd.concat([A1user3[0], A2user3[0],A3user3[0],A4user3[0],A5user3[0],A6user3[0],A9user3[0],A12user3[0]], ignore_index=True)
U3_RA = pd.concat([A1user3[1], A2user3[1],A3user3[1],A4user3[1],A5user3[1],A6user3[1],A9user3[1],A12user3[1]], ignore_index=True)
U3_LA = pd.concat([A1user3[2], A2user3[2],A3user3[2],A4user3[2],A5user3[2],A6user3[2],A9user3[2],A12user3[2]], ignore_index=True)
U3_RL = pd.concat([A1user3[3], A2user3[3],A3user3[3],A4user3[3],A5user3[3],A6user3[3],A9user3[3],A12user3[3]], ignore_index=True)
U3_LL = pd.concat([A1user3[4], A2user3[4],A3user3[4],A4user3[4],A5user3[4],A6user3[4],A9user3[4],A12user3[4]], ignore_index=True)

##### User 4

In [96]:
U4_Torso = pd.concat([A1user4[0], A2user4[0],A3user4[0],A4user4[0],A5user4[0],A6user4[0],A9user4[0],A12user4[0]], ignore_index=True)
U4_RA = pd.concat([A1user4[1], A2user4[1],A3user4[1],A4user4[1],A5user4[1],A6user4[1],A9user4[1],A12user4[1]], ignore_index=True)
U4_LA = pd.concat([A1user4[2], A2user4[2],A3user4[2],A4user4[2],A5user4[2],A6user4[2],A9user4[2],A12user4[2]], ignore_index=True)
U4_RL = pd.concat([A1user4[3], A2user4[3],A3user4[3],A4user4[3],A5user4[3],A6user4[3],A9user4[3],A12user4[3]], ignore_index=True)
U4_LL = pd.concat([A1user4[4], A2user4[4],A3user4[4],A4user4[4],A5user4[4],A6user4[4],A9user4[4],A12user4[4]], ignore_index=True)

##### User 5

In [97]:
U5_Torso = pd.concat([A1user5[0], A2user5[0],A3user5[0],A4user5[0],A5user5[0],A6user5[0],A9user5[0],A12user5[0]], ignore_index=True)
U5_RA = pd.concat([A1user5[1], A2user5[1],A3user5[1],A4user5[1],A5user5[1],A6user5[1],A9user5[1],A12user5[1]], ignore_index=True)
U5_LA = pd.concat([A1user5[2], A2user5[2],A3user5[2],A4user5[2],A5user5[2],A6user5[2],A9user5[2],A12user5[2]], ignore_index=True)
U5_RL = pd.concat([A1user5[3], A2user5[3],A3user5[3],A4user5[3],A5user5[3],A6user5[3],A9user5[3],A12user5[3]], ignore_index=True)
U5_LL = pd.concat([A1user5[4], A2user5[4],A3user5[4],A4user5[4],A5user5[4],A6user5[4],A9user5[4],A12user5[4]], ignore_index=True)

##### User 6

In [98]:
U6_Torso = pd.concat([A1user6[0], A2user6[0],A3user6[0],A4user6[0],A5user6[0],A6user6[0],A9user6[0],A12user6[0]], ignore_index=True)
U6_RA = pd.concat([A1user6[1], A2user6[1],A3user6[1],A4user6[1],A5user6[1],A6user6[1],A9user6[1],A12user6[1]], ignore_index=True)
U6_LA = pd.concat([A1user6[2], A2user6[2],A3user6[2],A4user6[2],A5user6[2],A6user6[2],A9user6[2],A12user6[2]], ignore_index=True)
U6_RL = pd.concat([A1user6[3], A2user6[3],A3user6[3],A4user6[3],A5user6[3],A6user6[3],A9user6[3],A12user6[3]], ignore_index=True)
U6_LL = pd.concat([A1user6[4], A2user6[4],A3user6[4],A4user6[4],A5user6[4],A6user6[4],A9user6[4],A12user6[4]], ignore_index=True)

##### User 7

In [99]:
U7_Torso = pd.concat([A1user7[0], A2user7[0],A3user7[0],A4user7[0],A5user7[0],A6user7[0],A9user7[0],A12user7[0]], ignore_index=True)
U7_RA = pd.concat([A1user7[1], A2user7[1],A3user7[1],A4user7[1],A5user7[1],A6user7[1],A9user7[1],A12user7[1]], ignore_index=True)
U7_LA = pd.concat([A1user7[2], A2user7[2],A3user7[2],A4user7[2],A5user7[2],A6user7[2],A9user7[2],A12user7[2]], ignore_index=True)
U7_RL = pd.concat([A1user7[3], A2user7[3],A3user7[3],A4user7[3],A5user7[3],A6user7[3],A9user7[3],A12user7[3]], ignore_index=True)
U7_LL = pd.concat([A1user7[4], A2user7[4],A3user7[4],A4user7[4],A5user7[4],A6user7[4],A9user7[4],A12user7[4]], ignore_index=True)

##### User 8

In [100]:
U8_Torso = pd.concat([A1user8[0], A2user8[0],A3user8[0],A4user8[0],A5user8[0],A6user8[0],A9user8[0],A12user8[0]], ignore_index=True)
U8_RA = pd.concat([A1user8[1], A2user8[1],A3user8[1],A4user8[1],A5user8[1],A6user8[1],A9user8[1],A12user8[1]], ignore_index=True)
U8_LA = pd.concat([A1user8[2], A2user8[2],A3user8[2],A4user8[2],A5user8[2],A6user8[2],A9user8[2],A12user8[2]], ignore_index=True)
U8_RL = pd.concat([A1user8[3], A2user8[3],A3user8[3],A4user8[3],A5user8[3],A6user8[3],A9user8[3],A12user8[3]], ignore_index=True)
U8_LL = pd.concat([A1user8[4], A2user8[4],A3user8[4],A4user8[4],A5user8[4],A6user8[4],A9user8[4],A12user8[4]], ignore_index=True)

In [101]:
U8_Torso.head()

,AccX,AccY,AccZ,GyrX,GyrY,GyrZ,MagX,MagY,MagZ,Person,Activity,Position
0,7.4938,-0.68446,6.2939,-0.031259,0.038736,0.003076,-0.60942,-0.42430,-0.18803,8,0,Torso
1,7.5012,-0.69934,6.2939,-0.010506,0.015149,-0.007738,-0.61027,-0.42453,-0.18887,8,0,Torso
2,7.5310,-0.68476,6.2942,-0.004148,0.024158,-0.001381,-0.60936,-0.42375,-0.18938,8,0,Torso
3,7.5385,-0.69220,6.2868,0.001295,0.016797,-0.013197,-0.61002,-0.42505,-0.18912,8,0,Torso
4,7.5086,-0.69949,6.3163,0.022058,0.015955,0.002337,-0.61054,-0.42453,-0.18888,8,0,Torso

In [102]:
U8_Torso.tail()

,AccX,AccY,AccZ,GyrX,GyrY,GyrZ,MagX,MagY,MagZ,Person,Activity,Position
59995,-1.3327,0.40930,-0.6437,-0.43904,0.16145,-0.53292,-0.82250,-0.060835,-0.55548,8,4,Torso
59996,3.9084,0.85097,2.5402,-2.27070,-0.84703,-0.23491,-0.82282,-0.032640,-0.55298,8,4,Torso
59997,34.7700,6.16450,-2.3471,-0.77452,-2.46250,-0.92333,-0.88021,0.028804,-0.45561,8,4,Torso
59998,24.7610,5.49990,2.4077,-1.67090,0.47062,-0.45641,-0.87758,0.031301,-0.46692,8,4,Torso
59999,17.1410,1.86960,2.8785,-1.60750,0.48264,-0.59403,-0.88087,0.041097,-0.47498,8,4,Torso

In [103]:
np.unique(U8_Torso['Activity'])

array([0, 1, 2, 3, 4, 5, 6])

## Append Position-wise All user data for Standardization and Normalization

In [104]:
Torso_data = pd.concat([U1_Torso, U2_Torso, U3_Torso, U4_Torso, U5_Torso, U6_Torso, U7_Torso, U8_Torso], ignore_index=True)

In [105]:
Torso_data.head()

,AccX,AccY,AccZ,GyrX,GyrY,GyrZ,MagX,MagY,MagZ,Person,Activity,Position
0,8.1305,1.0349,5.4217,-0.009461,0.001915,-0.003424,-0.78712,-0.069654,0.15730,1,0,Torso
1,8.1305,1.0202,5.3843,-0.009368,0.023485,0.001953,-0.78717,-0.068275,0.15890,1,0,Torso
2,8.1604,1.0201,5.3622,0.015046,0.014330,0.000204,-0.78664,-0.068277,0.15879,1,0,Torso
3,8.1603,1.0052,5.3770,0.006892,0.018045,0.005649,-0.78529,-0.069849,0.15912,1,0,Torso
4,8.1605,1.0275,5.3473,0.008811,0.030433,-0.005346,-0.78742,-0.068796,0.15916,1,0,Torso

In [106]:
np.unique(Torso_data['Activity'])

array([0, 1, 2, 3, 4, 5, 6])

In [107]:
np.unique(Torso_data['Person'])

array([1, 2, 3, 4, 5, 6, 7, 8])

In [108]:
np.unique(Torso_data['Position'])

array(['Torso'], dtype=object)

In [109]:
RA_data = pd.concat([U1_RA, U2_RA, U3_RA, U4_RA, U5_RA, U6_RA, U7_RA, U8_RA], ignore_index=True)
LA_data = pd.concat([U1_LA, U2_LA, U3_LA, U4_LA, U5_LA, U6_LA, U7_LA, U8_LA], ignore_index=True)
RL_data = pd.concat([U1_RL, U2_RL, U3_RL, U4_RL, U5_RL, U6_RL, U7_RL, U8_RL], ignore_index=True)
LL_data = pd.concat([U1_LL, U2_LL, U3_LL, U4_LL, U5_LL, U6_LL, U7_LL, U8_LL], ignore_index=True)

#### Torso

In [110]:
person_gt = np.array(Torso_data['Person'])
activity_gt = np.array(Torso_data['Activity'])
position_gt = np.array(Torso_data['Position'])
Torso_data.drop(['Person', 'Activity', 'Position'], axis=1, inplace=True)
column_name = Torso_data.columns

In [111]:
scaler = preprocessing.StandardScaler()
standardized_array = scaler.fit_transform(Torso_data)
standardized_df = pd.DataFrame(standardized_array)

In [112]:
min_max_scaler = preprocessing.MinMaxScaler()
normalized_array = min_max_scaler.fit_transform(standardized_df)

In [113]:
Torso_data = pd.DataFrame(normalized_array, columns=column_name)
Torso_data["Person"] = person_gt.copy()
Torso_data["Activity"] = activity_gt.copy()
Torso_data["Position"] = position_gt.copy()

In [114]:
Torso_data.head()

,AccX,AccY,AccZ,GyrX,GyrY,GyrZ,MagX,MagY,MagZ,Person,Activity,Position
0,0.174334,0.480210,0.290738,0.468719,0.632115,0.463917,0.298150,0.409400,0.773324,1,0,Torso
1,0.174334,0.480019,0.290507,0.468721,0.632987,0.464399,0.298123,0.410140,0.774362,1,0,Torso
2,0.174623,0.480017,0.290371,0.469406,0.632617,0.464243,0.298407,0.410139,0.774290,1,0,Torso
3,0.174622,0.479824,0.290462,0.469177,0.632767,0.464731,0.299132,0.409295,0.774505,1,0,Torso
4,0.174624,0.480114,0.290279,0.469231,0.633268,0.463745,0.297989,0.409860,0.774531,1,0,Torso

In [131]:
np.min(Torso_data['MagZ'])

0.0

In [132]:
np.max(Torso_data['MagZ'])

1.0

#### Right Arm

In [133]:
person_gt = np.array(RA_data['Person'])
activity_gt = np.array(RA_data['Activity'])
position_gt = np.array(RA_data['Position'])
RA_data.drop(['Person', 'Activity', 'Position'], axis=1, inplace=True)
column_name = RA_data.columns

In [134]:
scaler = preprocessing.StandardScaler()
standardized_array = scaler.fit_transform(RA_data)
standardized_df = pd.DataFrame(standardized_array)

In [135]:
min_max_scaler = preprocessing.MinMaxScaler()
normalized_array = min_max_scaler.fit_transform(standardized_df)

In [136]:
RA_data = pd.DataFrame(normalized_array, columns=column_name)
RA_data["Person"] = person_gt.copy()
RA_data["Activity"] = activity_gt.copy()
RA_data["Position"] = position_gt.copy()

In [154]:
np.min(RA_data['MagZ'])

0.0

In [155]:
np.max(RA_data['MagZ'])

1.0

#### Left Arm

In [156]:
person_gt = np.array(LA_data['Person'])
activity_gt = np.array(LA_data['Activity'])
position_gt = np.array(LA_data['Position'])
LA_data.drop(['Person', 'Activity', 'Position'], axis=1, inplace=True)
column_name = LA_data.columns

In [157]:
scaler = preprocessing.StandardScaler()
standardized_array = scaler.fit_transform(LA_data)
standardized_df = pd.DataFrame(standardized_array)

In [158]:
min_max_scaler = preprocessing.MinMaxScaler()
normalized_array = min_max_scaler.fit_transform(standardized_df)

In [159]:
LA_data = pd.DataFrame(normalized_array, columns=column_name)
LA_data["Person"] = person_gt.copy()
LA_data["Activity"] = activity_gt.copy()
LA_data["Position"] = position_gt.copy()

#### Right Leg

In [160]:
person_gt = np.array(RL_data['Person'])
activity_gt = np.array(RL_data['Activity'])
position_gt = np.array(RL_data['Position'])
RL_data.drop(['Person', 'Activity', 'Position'], axis=1, inplace=True)
column_name = RL_data.columns

In [161]:
scaler = preprocessing.StandardScaler()
standardized_array = scaler.fit_transform(RL_data)
standardized_df = pd.DataFrame(standardized_array)

In [162]:
min_max_scaler = preprocessing.MinMaxScaler()
normalized_array = min_max_scaler.fit_transform(standardized_df)

In [163]:
RL_data = pd.DataFrame(normalized_array, columns=column_name)
RL_data["Person"] = person_gt.copy()
RL_data["Activity"] = activity_gt.copy()
RL_data["Position"] = position_gt.copy()

#### Left Leg

In [165]:
person_gt = np.array(LL_data['Person'])
activity_gt = np.array(LL_data['Activity'])
position_gt = np.array(LL_data['Position'])
LL_data.drop(['Person', 'Activity', 'Position'], axis=1, inplace=True)
column_name = LL_data.columns

KeyError: 'Person'

In [ ]:
scaler = preprocessing.StandardScaler()
standardized_array = scaler.fit_transform(LL_data)
standardized_df = pd.DataFrame(standardized_array)

In [ ]:
min_max_scaler = preprocessing.MinMaxScaler()
normalized_array = min_max_scaler.fit_transform(standardized_df)

In [ ]:
LL_data = pd.DataFrame(normalized_array, columns=column_name)
LL_data["Person"] = person_gt.copy()
LL_data["Activity"] = activity_gt.copy()
LL_data["Position"] = position_gt.copy()

### After the position-wise Standardization and Normalization is done, split into individual dataframe

In [174]:
U1_Torso = Torso_data.loc[Torso_data['Person'] == 1]
U2_Torso = Torso_data.loc[Torso_data['Person'] == 2]
U3_Torso = Torso_data.loc[Torso_data['Person'] == 3]
U4_Torso = Torso_data.loc[Torso_data['Person'] == 4]
U5_Torso = Torso_data.loc[Torso_data['Person'] == 5]
U6_Torso = Torso_data.loc[Torso_data['Person'] == 6]
U7_Torso = Torso_data.loc[Torso_data['Person'] == 7]
U8_Torso = Torso_data.loc[Torso_data['Person'] == 8]

In [175]:
U1_Torso.head()

,AccX,AccY,AccZ,GyrX,GyrY,GyrZ,MagX,MagY,MagZ,Person,Activity,Position
0,0.174334,0.480210,0.290738,0.468719,0.632115,0.463917,0.298150,0.409400,0.773324,1,0,Torso
1,0.174334,0.480019,0.290507,0.468721,0.632987,0.464399,0.298123,0.410140,0.774362,1,0,Torso
2,0.174623,0.480017,0.290371,0.469406,0.632617,0.464243,0.298407,0.410139,0.774290,1,0,Torso
3,0.174622,0.479824,0.290462,0.469177,0.632767,0.464731,0.299132,0.409295,0.774505,1,0,Torso
4,0.174624,0.480114,0.290279,0.469231,0.633268,0.463745,0.297989,0.409860,0.774531,1,0,Torso

In [176]:
Torso_data.head()

,AccX,AccY,AccZ,GyrX,GyrY,GyrZ,MagX,MagY,MagZ,Person,Activity,Position
0,0.174334,0.480210,0.290738,0.468719,0.632115,0.463917,0.298150,0.409400,0.773324,1,0,Torso
1,0.174334,0.480019,0.290507,0.468721,0.632987,0.464399,0.298123,0.410140,0.774362,1,0,Torso
2,0.174623,0.480017,0.290371,0.469406,0.632617,0.464243,0.298407,0.410139,0.774290,1,0,Torso
3,0.174622,0.479824,0.290462,0.469177,0.632767,0.464731,0.299132,0.409295,0.774505,1,0,Torso
4,0.174624,0.480114,0.290279,0.469231,0.633268,0.463745,0.297989,0.409860,0.774531,1,0,Torso

In [179]:
np.unique(U1_Torso['Position'])

array(['Torso'], dtype=object)

In [173]:
480000/8

60000.0

In [ ]:
U1_RA = RA_data.loc[RA_data['Person'] == 1]
U2_RA = RA_data.loc[RA_data['Person'] == 2]
U3_RA = RA_data.loc[RA_data['Person'] == 3]
U4_RA = RA_data.loc[RA_data['Person'] == 4]
U5_RA = RA_data.loc[RA_data['Person'] == 5]
U6_RA = RA_data.loc[RA_data['Person'] == 6]
U7_RA = RA_data.loc[RA_data['Person'] == 7]
U8_RA = RA_data.loc[RA_data['Person'] == 8]

In [ ]:
U1_LA = LA_data.loc[LA_data['Person'] == 1]
U2_LA = LA_data.loc[LA_data['Person'] == 2]
U3_LA = LA_data.loc[LA_data['Person'] == 3]
U4_LA = LA_data.loc[LA_data['Person'] == 4]
U5_LA = LA_data.loc[LA_data['Person'] == 5]
U6_LA = LA_data.loc[LA_data['Person'] == 6]
U7_LA = LA_data.loc[LA_data['Person'] == 7]
U8_LA = LA_data.loc[LA_data['Person'] == 8]

In [ ]:
U1_RL = RL_data.loc[RL_data['Person'] == 1]
U2_RL = RL_data.loc[RL_data['Person'] == 2]
U3_RL = RL_data.loc[RL_data['Person'] == 3]
U4_RL = RL_data.loc[RL_data['Person'] == 4]
U5_RL = RL_data.loc[RL_data['Person'] == 5]
U6_RL = RL_data.loc[RL_data['Person'] == 6]
U7_RL = RL_data.loc[RL_data['Person'] == 7]
U8_RL = RL_data.loc[RL_data['Person'] == 8]

In [ ]:
U1_LL = LL_data.loc[LL_data['Person'] == 1]
U2_LL = LL_data.loc[LL_data['Person'] == 2]
U3_LL = LL_data.loc[LL_data['Person'] == 3]
U4_LL = LL_data.loc[LL_data['Person'] == 4]
U5_LL = LL_data.loc[LL_data['Person'] == 5]
U6_LL = LL_data.loc[LL_data['Person'] == 6]
U7_LL = LL_data.loc[LL_data['Person'] == 7]
U8_LL = LL_data.loc[LL_data['Person'] == 8]

### Save the frames

In [102]:
save_path = "/home/avijoychakma/Downloads/DSADS Files/"

In [103]:
U1_Torso.to_csv (save_path+'U1_Torso.csv', index = None, header=True)
U1_RA.to_csv (save_path+'U1_RA.csv', index = None, header=True)
U1_LA.to_csv (save_path+'U1_LA.csv', index = None, header=True)
U1_RL.to_csv (save_path+'U1_RL.csv', index = None, header=True)
U1_LL.to_csv (save_path+'U1_LL.csv', index = None, header=True)

In [104]:
U2_Torso.to_csv (save_path+'U2_Torso.csv', index = None, header=True)
U2_RA.to_csv (save_path+'U2_RA.csv', index = None, header=True)
U2_LA.to_csv (save_path+'U2_LA.csv', index = None, header=True)
U2_RL.to_csv (save_path+'U2_RL.csv', index = None, header=True)
U2_LL.to_csv (save_path+'U2_LL.csv', index = None, header=True)

In [105]:
U3_Torso.to_csv (save_path+'U3_Torso.csv', index = None, header=True)
U3_RA.to_csv (save_path+'U3_RA.csv', index = None, header=True)
U3_LA.to_csv (save_path+'U3_LA.csv', index = None, header=True)
U3_RL.to_csv (save_path+'U3_RL.csv', index = None, header=True)
U3_LL.to_csv (save_path+'U3_LL.csv', index = None, header=True)

In [106]:
U4_Torso.to_csv (save_path+'U4_Torso.csv', index = None, header=True)
U4_RA.to_csv (save_path+'U4_RA.csv', index = None, header=True)
U4_LA.to_csv (save_path+'U4_LA.csv', index = None, header=True)
U4_RL.to_csv (save_path+'U4_RL.csv', index = None, header=True)
U4_LL.to_csv (save_path+'U4_LL.csv', index = None, header=True)

In [107]:
U5_Torso.to_csv (save_path+'U5_Torso.csv', index = None, header=True)
U5_RA.to_csv (save_path+'U5_RA.csv', index = None, header=True)
U5_LA.to_csv (save_path+'U5_LA.csv', index = None, header=True)
U5_RL.to_csv (save_path+'U5_RL.csv', index = None, header=True)
U5_LL.to_csv (save_path+'U5_LL.csv', index = None, header=True)

In [108]:
U6_Torso.to_csv (save_path+'U6_Torso.csv', index = None, header=True)
U6_RA.to_csv (save_path+'U6_RA.csv', index = None, header=True)
U6_LA.to_csv (save_path+'U6_LA.csv', index = None, header=True)
U6_RL.to_csv (save_path+'U6_RL.csv', index = None, header=True)
U6_LL.to_csv (save_path+'U6_LL.csv', index = None, header=True)

In [109]:
U7_Torso.to_csv (save_path+'U7_Torso.csv', index = None, header=True)
U7_RA.to_csv (save_path+'U7_RA.csv', index = None, header=True)
U7_LA.to_csv (save_path+'U7_LA.csv', index = None, header=True)
U7_RL.to_csv (save_path+'U7_RL.csv', index = None, header=True)
U7_LL.to_csv (save_path+'U7_LL.csv', index = None, header=True)

In [110]:
U8_Torso.to_csv (save_path+'U8_Torso.csv', index = None, header=True)
U8_RA.to_csv (save_path+'U8_RA.csv', index = None, header=True)
U8_LA.to_csv (save_path+'U8_LA.csv', index = None, header=True)
U8_RL.to_csv (save_path+'U8_RL.csv', index = None, header=True)
U8_LL.to_csv (save_path+'U8_LL.csv', index = None, header=True)

# 8. Prepare Final Dataset

In [111]:
Torso_dataset = []
RA_dataset = []
LA_dataset = []
RL_dataset = []
LL_dataset = []
Torso_gt = []
RA_gt = []
LA_gt = []
RL_gt = []
LL_gt = []

In [112]:
save_path = "/home/avijoychakma/Downloads/DSADS Files/"

In [113]:
position = ["Torso","RA","LA","RL","LL"]

In [114]:
win_size=128
step_size=64

In [115]:
for position_index in tqdm(range(1,6)): #Back, RUA, RLA, LUA, LLA
    for person_index in range(1,9): # 4 Persons
        file_name = "U"+str(person_index) + "_"+position[position_index-1]
        
        df = pd.read_csv(save_path+file_name+'.csv', sep=",")   
        len_df = df.shape[0]
        narray = df.to_numpy()

        for i in range(0, len_df, step_size):
            window = narray[i:i+win_size,0:9]
            
            if window.shape[0] != win_size:
                continue
            else:
                reshaped_window = window.reshape(1,win_size,1,9)
                gt = np.bincount(narray[i:i+win_size,10:11].astype(int).ravel()).argmax()
                
                if position_index == 1:
                    Torso_dataset.append(reshaped_window)
                    Torso_gt.append(gt)
                elif position_index == 2:
                    RA_dataset.append(reshaped_window)
                    RA_gt.append(gt)
                elif position_index == 3:
                    LA_dataset.append(reshaped_window)
                    LA_gt.append(gt)
                elif position_index == 4:
                    RL_dataset.append(reshaped_window)
                    RL_gt.append(gt)
                elif position_index == 5:
                    LL_dataset.append(reshaped_window)
                    LL_gt.append(gt)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 5/5 [00:03<00:00,  1.44it/s]